@import 'src/helpers';

enigma-rotor {
  --start: 0;
  --ratio: 1;

  display: flex;
  padding: $smallSpacing;

  .gear-box {
    flex-basis: 80px;
    position: relative;

    .gear {
      max-width: 100%;
      max-height: 100%;
      position: absolute;
      transition: transform $transitionSubtle;
      transform: rotate(var(--start)) scale(var(--ratio));
    }
  }

  .settings {
    flex-grow: 1;

    .control-row {
      display: flex;
      margin: $mediumSpacing 0;

      .slider-label {
        align-self: center;
        width: 75px;
      }

      .slider-input {
        flex-grow: 1;
        margin: 0 $mediumSpacing;
        appearance: none;
        width: 100%;
        height: 5px;
        background: #D3D3D3;
        outline: none;
        opacity: 0.9;
        transition: opacity $transitionSubtle;
        align-self: center;

        &:hover {
          opacity: 1;
        }

        &::-webkit-slider-thumb {
          appearance: none;
          width: 20px;
          height: 20px;
          display: block;
          border-radius: 50%;
          cursor: pointer;
          background: linear-gradient(to top, #9E9E9E 20%, #F4F4F4);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
          transform: translateY(-10px);
        }

        &::-webkit-slider-runnable-track {
          appearance: none;
          width: 100%;
          height: 100%;
          cursor: pointer;
          box-shadow: 0 2px 0 0 #FFF, 0 -2px 0 0 #969494;
          background: linear-gradient(to bottom, #9E9E9E 30%, #F4F4F4);
          border-radius: 3px;
          border: 0.2px solid #010101;
        }
      }

      .slider-value {
        width: 35px;
        align-self: center;
        text-align: right;
      }
    }
  }
}
