<div class="text-wrapper">
  <h4>Input</h4>
  <input name="input" id="input" type="text" class="text-input">

  <label class="mode-toggle">
    <input id="mode" type="checkbox" name="mode"/>
    <div>
      <span class="on">Decode</span>
      <span class="off">Encode</span>
    </div>
    <i></i>
  </label>

  <button id="submitTrigger" class="submit-trigger">Submit</button>
</div>

<div class="text-wrapper">
  <h4>Output</h4>
  <div class="index-card">
    <slot name="output-text" class="index-content"></slot>
  </div>
</div>
